@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
}

.form {
  height: 50px;
  width: 100%;
}
.form__field {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  background: #eaeaea;
  border: none;
  color: #353535;
}
.form__field::placeholder {
  color: #353535;
  opacity: 1;
}

.button {
  display: block;
  height: 50px;
  padding: 0 20.95px;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-restaurant {
  height: 251px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.card-restaurant__image {
  height: 174px;
  width: 100%;
}
.card-restaurant__image img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 14px 14px 0 0;
}
.card-restaurant__bottom {
  position: relative;
  height: 77px;
  padding: 16px 25px 16px 13px;
  background: #fff;
  border-radius: 0 0 14px 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.card-restaurant__about {
  width: 86.27%;
}
.card-restaurant__title {
  margin: 0;
  margin-bottom: 4px;
}
.card-restaurant__place {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.card-restaurant__like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.card-restaurant__like-icon-hover {
  color: red;
}

.card-course {
  height: 68px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 10px 12px 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.card-course__title {
  margin: 0 0 8.05px;
}
.card-course__about {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.card-course__price {
  height: 46px;
}
.card-course__price-tag {
  font-size: 15px;
  font-weight: 700;
}

.header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept__form {
  display: flex;
  flex-flow: row nowrap;
}
.concept__form__icon {
  height: 100%;
  flex: 35.47%;
  background: #eaeaea;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16;
  color: #353535;
  text-align: right;
  padding-right: 17px;
}
.concept__form__field {
  flex: 64.53%;
  text-align: left;
}
.concept__container {
  background: #f6f6f6;
  padding: 39px 30px 57px;
}
.concept__container__text {
  text-align: center;
}
.concept__title {
  margin: 0;
  padding: 0 15px;
}
.concept__text {
  margin: 12px 0 32.4px;
}
.concept__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  width: 100%;
  padding: 48px 20px 68px;
}
.steps__title {
  margin: 0 0 30.4px;
}
.steps__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}
.steps__item {
  position: relative;
  height: 72px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: -1px 2px 5px 2px rgba(0, 0, 0, 0.05);
  padding: 0 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.steps__item:hover {
  background: #ece6f3;
}
.steps__item:hover .steps__item__icon {
  color: #9356dc;
}
.steps__item__icon {
  color: #7e7e7e;
}
.steps__item__icon1 {
  font-size: 20px;
  margin-right: 27px;
}
.steps__item__icon2 {
  font-size: 16px;
  margin-right: 23px;
}
.steps__item__icon3 {
  font-size: 18px;
  margin-right: 16px;
}
.steps__item__title {
  margin: 0;
}

.steps__item1::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "1";
}

.steps__item2::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "2";
}

.steps__item3::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "3";
}

.restaurants-list {
  height: 1226px;
  width: 100%;
  padding: 54px 20px 64px;
  background: #f6f6f6;
}
.restaurants-list__title {
  margin: 0 0 22px 0;
}
.restaurants-list__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}

.restaurant {
  background: #f6f6f6;
}
.restaurant__image {
  height: 259px;
  width: 100%;
}
.restaurant__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.restaurant__name {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  padding: 31px 39px 0 20px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
.restaurant__name__title {
  font-size: 28px;
}
.restaurant__menu {
  padding-bottom: 83px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.restaurant__courses {
  width: 100%;
  padding: 0 12px 0 14px;
  margin-top: 40px;
}
.restaurant__courses__title {
  margin: 0;
  padding: 0 6px;
}
.restaurant__courses__title::after {
  display: block;
  margin: 5px 0 14px;
  content: "";
  width: 40px;
  height: 3px;
  background: #99e2d0;
}
.restaurant__courses__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
}
.restaurant__button {
  width: 186px;
  margin-top: 51px;
}

.footer {
  height: 197px;
  background-color: #353535;
  color: #fff;
  padding: 22px 25px 17px 25px;
}
.footer__logo {
  font-size: 18px;
}
.footer__logo a {
  color: #fff;
}
.footer__menu__list {
  list-style: none;
  padding-left: 0;
  margin: 17px 0;
}
.footer__menu__item {
  font-size: 16px;
  margin-bottom: 8px;
}
.footer__menu__item a {
  display: block;
  color: #fff;
}
.footer__menu__item__icon_restaurant {
  margin-right: 11px;
  font-size: 13px;
}
.footer__menu__item__icon_partenaire {
  margin-right: 7px;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
