@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes translate-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animation-course-section {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-course-section {
  animation: animation-course-section 400ms cubic-bezier(0.42, 0.11, 0.3, 1) both;
}

@keyframes animation-course {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-course {
  animation: animation-course 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animation-course-section-1 {
  animation-delay: 0ms;
}
.animation-course-section-1 .animation-course-1 {
  animation-delay: 200ms;
}

.animation-course-section-1 {
  animation-delay: 0ms;
}
.animation-course-section-1 .animation-course-2 {
  animation-delay: 400ms;
}

.animation-course-section-1 {
  animation-delay: 0ms;
}
.animation-course-section-1 .animation-course-3 {
  animation-delay: 600ms;
}

.animation-course-section-1 {
  animation-delay: 0ms;
}
.animation-course-section-1 .animation-course-4 {
  animation-delay: 800ms;
}

.animation-course-section-2 {
  animation-delay: 1000ms;
}
.animation-course-section-2 .animation-course-1 {
  animation-delay: 1200ms;
}

.animation-course-section-2 {
  animation-delay: 1000ms;
}
.animation-course-section-2 .animation-course-2 {
  animation-delay: 1400ms;
}

.animation-course-section-2 {
  animation-delay: 1000ms;
}
.animation-course-section-2 .animation-course-3 {
  animation-delay: 1600ms;
}

.animation-course-section-2 {
  animation-delay: 1000ms;
}
.animation-course-section-2 .animation-course-4 {
  animation-delay: 1800ms;
}

.animation-course-section-3 {
  animation-delay: 2000ms;
}
.animation-course-section-3 .animation-course-1 {
  animation-delay: 2200ms;
}

.animation-course-section-3 {
  animation-delay: 2000ms;
}
.animation-course-section-3 .animation-course-2 {
  animation-delay: 2400ms;
}

.animation-course-section-3 {
  animation-delay: 2000ms;
}
.animation-course-section-3 .animation-course-3 {
  animation-delay: 2600ms;
}

.animation-course-section-3 {
  animation-delay: 2000ms;
}
.animation-course-section-3 .animation-course-4 {
  animation-delay: 2800ms;
}

@keyframes animation-order-course {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animation-price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-59px);
  }
}
@keyframes rotate-tick {
  0% {
    transform: translateX(100%) rotate(-270deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.rotate-tick {
  animation: rotate-tick 300ms 50ms ease-out backwards;
}

* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
}

@keyframes letter-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: translate-up 500ms 2300ms both;
}
.loader__text {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  font-weight: normal;
  color: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__text-letters {
  animation: letter-up 1000ms ease-in-out both;
  background: transparent;
}
.loader__text::after {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  animation: underline 300ms 1650ms both;
}

.loader__text-letter1 {
  animation-delay: 62.5ms;
}

.loader__text-letter2 {
  animation-delay: 125ms;
}

.loader__text-letter3 {
  animation-delay: 187.5ms;
}

.loader__text-letter4 {
  animation-delay: 250ms;
}

.loader__text-letter5 {
  animation-delay: 312.5ms;
}

.loader__text-letter6 {
  animation-delay: 375ms;
}

.loader__text-letter7 {
  animation-delay: 437.5ms;
}

.loader__text-letter8 {
  animation-delay: 500ms;
}

.form {
  height: 50px;
  width: 100%;
}
.form__field {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  background: #eaeaea;
  border: none;
  color: #353535;
}
.form__field::placeholder {
  color: #353535;
  opacity: 1;
}

.button {
  display: block;
  position: relative;
  padding: 15.8px 20.95px;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(355deg, #ae80e5 0%, #fface8 100%);
  opacity: 0;
  z-index: -1;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all 250ms ease-in-out;
}
.button:hover::after {
  opacity: 1;
}

.steps__item {
  position: relative;
  width: 100%;
  background: #f6f6f6;
  border-radius: 20px;
  padding: 26px 0 26px 35px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.steps__item:hover {
  background: #ece6f3;
}
.steps__item:hover .steps__item__icon {
  color: #9356dc;
}
.steps__item__icon {
  color: #7e7e7e;
}
.steps__item__icon1 {
  font-size: 20px;
  margin-right: 27px;
}
.steps__item__icon2 {
  font-size: 16px;
  margin-right: 23px;
}
.steps__item__icon3 {
  font-size: 18px;
  margin-right: 16px;
}
.steps__item__title {
  margin: 0;
}

.steps__item1::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "1";
}

.steps__item2::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "2";
}

.steps__item3::before {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
  content: "3";
}

.card-restaurant {
  height: 251px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 14px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.card-restaurant:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-in-out;
}
.card-restaurant__image {
  height: 174px;
  width: 100%;
  position: relative;
}
.card-restaurant__image img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 14px 14px 0 0;
}
.card-restaurant__bottom {
  position: relative;
  height: 77px;
  padding: 16px 25px 16px 13px;
  background: #fff;
  border-radius: 0 0 14px 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.card-restaurant__about {
  width: 86.27%;
}
.card-restaurant__title {
  margin: 0;
  margin-bottom: 4px;
}
.card-restaurant__place {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.card-restaurant__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.card-restaurant__like-button:hover::before {
  position: absolute;
  right: 0;
  top: 12px;
  font-family: "Font Awesome 5 Free";
  font-size: 21px;
  font-weight: 900;
  content: "\f004";
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  color: transparent;
}
.card-restaurant__like-button:hover::after {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 0;
  top: 11px;
  content: "";
  background: #fff;
  color: transparent;
  animation: translate-up 600ms cubic-bezier(0.55, 0, 1, 0.74) both;
}

.label-new {
  width: 81px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  position: absolute;
  top: 13px;
  right: 11px;
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}

.card-course {
  height: 68px;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 10px 0 12px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.card-course__title {
  margin: 0 0 8.05px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-course__text {
  width: 100%;
  padding-right: 22px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-course__about {
  width: 100%;
  margin: 0 5px 0 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-course__price-tag {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.card-course__order {
  display: none;
  height: 100%;
  width: 59px;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 5px;
  background: #99e2d0;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.card-course:hover .card-course__title {
  width: calc(100% - 59px);
  transition: 300ms;
}
.card-course:hover .card-course__text {
  width: calc(100% - 59px);
  transition: 300ms;
}
.card-course:hover .card-course__about {
  transition: 300ms;
}
.card-course:hover .card-course__price {
  transition: 300ms;
}
.card-course:hover .card-course__order {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animation-order-course 300ms both;
}

.header__logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo ::before {
  position: absolute;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin-left: 21px;
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 20px;
  font-weight: 900;
}
.header__logo-landpage {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__form__icon {
  height: 100%;
  flex: 35.47%;
  background: #eaeaea;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #353535;
  text-align: right;
  padding-right: 17px;
}
.header__form__field {
  width: 50%;
}
.header__form::before {
  position: absolute;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 25%;
  top: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-weight: 900;
}

.concept {
  background: #f6f6f6;
}
@media (min-width: 992px) {
  .concept {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ece6f3;
  }
}
.concept__container {
  padding: 39px 30px 57px;
}
.concept__container__text {
  text-align: center;
}
.concept__title {
  margin: 0;
  padding: 0 15px;
}
.concept__text {
  margin: 12px 0 32.4px;
}
.concept__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  width: 100%;
  padding: 48px 20px 68px;
}
@media (min-width: 992px) {
  .steps {
    flex: 50%;
  }
}
.steps__title {
  margin: 0 0 30.4px;
}
.steps__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

.restaurants-list {
  width: 100%;
  padding: 54px 20px 64.4px;
  background: #f6f6f6;
}
.restaurants-list__title {
  margin: 0 0 22px 0;
}
.restaurants-list__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurants-list__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .restaurants-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.restaurant {
  background: #f6f6f6;
  padding-bottom: 83px;
}
.restaurant__image {
  height: 259px;
  width: 100%;
}
@media (min-width: 992px) {
  .restaurant__image {
    height: 400px;
  }
}
.restaurant__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.restaurant__name {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  padding: 31px 39px 0 20px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  font-size: 28px;
}
.restaurant__name__title {
  font-size: 28px;
}
.restaurant__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.restaurant__like-button:hover::before {
  position: absolute;
  right: 0;
  top: -10.6px;
  font-family: "Font Awesome 5 Free";
  font-size: 21px;
  font-weight: 900;
  content: "\f004";
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  color: transparent;
}
.restaurant__like-button:hover::after {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 0;
  top: -9.6px;
  content: "";
  background: #f6f6f6;
  color: transparent;
  animation: translate-up 600ms cubic-bezier(0.55, 0, 1, 0.74) both;
}
.restaurant__menu {
  padding-bottom: 51px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media (min-width: 992px) {
  .restaurant__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.restaurant__courses {
  width: 100%;
  padding: 0 12px 0 14px;
  margin-top: 40px;
}
.restaurant__courses__title {
  margin: 0;
  padding: 0 6px;
}
.restaurant__courses__title::after {
  display: block;
  margin: 5px 0 14px;
  content: "";
  width: 40px;
  height: 3px;
  background: #99e2d0;
}
.restaurant__courses__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
}
.restaurant__button {
  width: 186px;
  margin: 0 auto 0;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 22px 25px 22.7px 25px;
}
.footer__logo {
  font-size: 18px;
}
.footer__logo a {
  color: #fff;
}
.footer__menu__list {
  list-style: none;
  padding-left: 0;
  margin: 17px 0;
}
@media (min-width: 992px) {
  .footer__menu__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__menu__item {
  font-size: 16px;
  margin-bottom: 8px;
}
.footer__menu__item a {
  display: block;
  color: #fff;
}
.footer__menu__item a:hover {
  text-decoration: underline;
}
.footer__menu__item__icon_restaurant {
  margin-right: 11px;
  font-size: 13px;
}
.footer__menu__item__icon_partenaire {
  margin-right: 7px;
  font-size: 12px;
}

@media (min-width: 992px) {
  .desktop-only {
    height: 437px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
