.button {
  display: block;
  position: relative;
  padding: 15.8px 20.95px;
  background: $btn-gradient;
  color: $white;
  border: none;
  border-radius: 25px;
  @include shadow(0.2);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  @include center;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background: $btn-gradient-hover;
    opacity: 0;
    z-index: -1;
    @include shadow(0.4);
    transition: all 400ms ease-in-out;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
