.button {
  display: block;
  height: 50px;
  padding: 0 20.95px;
  background: $btn-gradient;
  color: $white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  @include center;
}
