.steps__item {
  position: relative;
  width: 100%;
  background: $light-gray;
  border-radius: 20px;
  padding: 26px 0 26px 35px;
  @include shadow(0.2);
  @include flex(flex-start, center);
  &:hover {
    background: mix($light-gray, $color-primary, 90%);
    & .steps__item__icon {
      color: $color-primary;
    }
  }
  &__icon {
    color: $medium-dark-gray;
    &1 {
      font-size: 20px;
      margin-right: 27px;
    }
    &2 {
      font-size: 16px;
      margin-right: 23px;
    }
    &3 {
      font-size: 18px;
      margin-right: 16px;
    }
  }
  &__title {
    margin: 0;
  }
}

@for $i from 1 through 3 {
  .steps__item#{$i}::before {
    height: 24px;
    width: 24px;
    @include center;
    background: $color-primary;
    border-radius: 50%;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: -12px;
    content: "#{$i}";
  }
}
