// Thin: 100
// Light: 300
// Regular: 400
// Medium: 500
// Bold: 700
// Black: 900

* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;
}
