@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify-content: $center, $align-items: $center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin shadow($opacity: $value) {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, $opacity);
}

@mixin responsive-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin responsive-desktop {
  @media (min-width: 992px) {
    @content;
  }
}
