$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$accent-dark: #008766;
$accent-light: #99e2d0;

$light-gray: #f6f6f6;
$medium-light-gray: #eaeaea;
$medium-dark-gray: #7e7e7e;
$dark-gray: #353535;

$black: #000;
$white: #fff;

$btn-gradient: linear-gradient(
  355deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);

$btn-gradient-hover: linear-gradient(
  355deg,
  lighten(rgba(147, 86, 220, 1),10) 0%,
  lighten(rgba(255, 121, 218, 1),10) 100%
);

$heart-gradient: linear-gradient(
  225deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);
