.concept {
  background: $light-gray;
  @include responsive-desktop {
    flex: 50%;
    height: 100%;
    @include center;
    background: mix($light-gray, $color-primary, 90%);
  }
  &__container {
    padding: 39px 30px 57px;
    &__text {
      text-align: center;
    }
  }
  &__title {
    margin: 0;
    padding: 0 15px;
  }
  &__text {
    margin: 12px 0 32.4px;
  }
  &__button {
    @include center;
  }
}
