.footer {
  background-color: $dark-gray;
  color: $white;
  padding: 22px 25px 22.7px 25px;
  &__logo {
    font-size: 18px;
    & a {
      color: $white;
    }
  }
  &__menu {
    &__list {
      list-style: none;
      padding-left: 0;
      margin: 17px 0;
      @include responsive-desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__item {
      font-size: 16px;
      margin-bottom: 8px;
      a {
        display: block;
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
      &__icon {
        &_restaurant {
          margin-right: 11px;
          font-size: 13px;
        }
        &_partenaire {
          margin-right: 7px;
          font-size: 12px;
        }
      }
    }
  }
}
