.restaurants-list {
  width: 100%;
  padding: 54px 20px 64.4px;
  background: $light-gray;
  &__title {
    margin: 0 0 22px 0;
  }
  &__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 18px;
    @include responsive-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include responsive-desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
}
