.restaurant {
  background: $light-gray;
  &__image {
    height: 259px;
    width: 100%;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  &__name {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
    padding: 31px 39px 0 20px;
    background: $light-gray;
    border-radius: 40px 40px 0 0;
    &__title {
      font-size: 28px;
    }
  }
  &__menu {
    padding-bottom: 83px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__courses {
    width: 100%;
    padding: 0 12px 0 14px;
    margin-top: 40px;
    &__title {
      margin: 0;
      padding: 0 6px;
      &::after {
        display: block;
        margin: 5px 0 14px;
        content: "";
        width: 40px;
        height: 3px;
        background: $accent-light;
      }
    }
    &__container {
      display: flex;
      flex-flow: column nowrap;
      gap: 14px;
    }
  }
  &__button {
    width: 186px;
    margin-top: 51px;
  }
}
