.steps {
  width: 100%;
  padding: 48px 20px 68px;
  &__title {
    margin: 0 0 30.4px;
  }
  &__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
  }
  &__item {
    position: relative;
    height: 72px;
    width: 100%;
    background: $light-gray;
    border-radius: 20px;
    box-shadow: -1px 2px 5px 2px rgba(0, 0, 0, 0.05);
    padding: 0 35px;
    @include flex(flex-start, center);
    &:hover {
      background: mix($light-gray, $color-primary, 90%);
      & .steps__item__icon {
        color: $color-primary;
      }
    }
    &__icon {
      color: $medium-dark-gray;
      &1 {
        font-size: 20px;
        margin-right: 27px;
      }
      &2 {
        font-size: 16px;
        margin-right: 23px;
      }
      &3 {
        font-size: 18px;
        margin-right: 16px;
      }
    }
    &__title {
      margin: 0;
    }
  }
}

@for $i from 1 through 3 {
  .steps__item#{$i}::before {
    height: 24px;
    width: 24px;
    @include center;
    background: $color-primary;
    border-radius: 50%;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: -12px;
    content: "#{$i}";
  }
}
