.steps {
  width: 100%;
  padding: 48px 20px 68px;
  @include responsive-desktop {
    flex: 50%;
  }
  &__title {
    margin: 0 0 30.4px;
  }
  &__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
  }
}
